* { 
    margin: 0px;
    padding: 0px;
}
html,body{
    width: 100%;
    height: 100%;
}
.box{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
}
.sq {
    position: absolute; 
    color: rgba(255, 255, 255, 0.829);
    background-color: rgb(46, 155, 155);
    width: 258px;
    height: 200px;
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}