* { 
  margin: 0px;
  padding: 0px;
}

html,body {
  width: 100%;
  height: 100%;
}

.box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
} 

.sq {
  color: rgba(255, 255, 255, 0.829);
  background-color: rgb(46, 155, 155);
  width: 100%;
  height: 100%;
  grid-column: 2/2;
  grid-row: 2/2;
  display: flex;
  align-items: center;
  justify-content: center;
}